body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.fa-shopping-cart {
    font-size: 24px;
    margin-right: 10px;
}

.fa-trash-alt {
    color: #FF6347;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.fa-trash-alt:hover {
    color: #d9534f;
}

